mlflow==2.14.1
mlflow-skinny==2.14.1
tensorflow==2.12.0
scikit-learn==1.3.2
pandas==2.1.4
numpy==1.24.4
matplotlib==3.8.2
seaborn==0.13.2
joblib==1.3.2
# Data & model versioning
DVC==3.50.2
# Monitoring
 evidently==0.4.33
# Web utils
requests==2.31.0
PyYAML==6.0.1
